@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
 }

 a{
   text-decoration: none;
   color: #fff;
 }
 body{
    
    display: grid;
    height: 100vh;
    place-items: center;
    background: linear-gradient(139deg, #2bffff 0%, #adc006b6  90%);
    
 }

 

 .display input {
   width: 100%;
   padding: 15px 10px;
   text-align: right;
   border: none;
   background-color: transparent;
   color: #ffffff;
   font-size: 35px;
 }
 .main{
    width: 400px;
    height: 450px;
    background-color: rgb(1, 1, 1);
    position: absolute;
    border: 10px solid rgb(251, 250, 250);
    border-radius: 8px; 
 }
 .main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid rgb(248, 245, 245);
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: rgb(9, 9, 9);
 }
 .menu a:hover::before{
   width: 90;
 }

 

 .btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #afa7a7;
    border-radius: 6px;
    color: rgb(4, 4, 4);
 }
 .btn input[type='button']:hover{
    background-color: rgb(254, 249, 249);
    color: rgb(235, 231, 231);
 }